  body {
      background:white;
      color: black;
      max-width: 600px;
      margin: auto;
      font-size: x-small;
      font-family: sans-serif;
     
  }
  

  article + article {
      margin-top: 3rem;
      border-top: 1px solid grey;

  }